<div class="d-flex flex-column justify-content-center align-items-center h-100">
  <div>
    <h2 class="title-address">Selecciona tu ubicación</h2>
  </div>
  <div class="d-flex dropdown-address">
    <div class="dropdown-states">
      <div class="dropdown">
        <button class="btn btn-address dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Estado
        </button>
        <ul class="dropdown-menu">
          <li><span class="dropdown-item-text">C</span></li>
          <li><a class="dropdown-item" href="#">Caracas</a></li>
          <li><span class="dropdown-item-text">L</span></li>
          <li><a class="dropdown-item" href="#">La Guaira</a></li>
          <li><a class="dropdown-item" href="#">Los Teques</a></li>
          <li><span class="dropdown-item-text">L</span></li>
          <li><a class="dropdown-item" href="#">La Guaira</a></li>
          <li><a class="dropdown-item" href="#">Los Teques</a></li>
        </ul>
      </div>
      
    </div>
    <div class="dropdown-zone">
      <div class="dropdown">
        <button class="btn btn-address dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Zona Recidencial
        </button>
        <ul class="dropdown-menu">
          <li><span class="dropdown-item-text">C</span></li>
          <li><a class="dropdown-item" href="#">Caracas</a></li>
          <li><span class="dropdown-item-text">L</span></li>
          <li><a class="dropdown-item" href="#">La Guaira</a></li>
          <li><a class="dropdown-item" href="#">Los Teques</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>