{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" crossorigin="anonymous">
  <link type="application/octet-stream" href="{% static 'bootstrap/css/bootstrap.min.css.map' %}" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static '/css/font.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static '/css/general.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/footer.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.png' %}"/>
  <title>Afilia tu restaurante</title>
</head>
<body>
  <div class="page-container">
    {% include 'header.html' %}
    <div class="container-fluid">
      <div id="Register">
        <h1 class="title-meta">Afilia tu restaurante</h1>
        <div class="form-container d-flex align-items-center {% if auth == False %} justify-content-md-end {% else %}justify-content-center flex-column {% endif %}">
          {% if auth == False %}
            <div class="form">
              <div class="form-title d-flex justify-content-center align-items-center"><h2>Regista tu local</h2></div>
              <form id="regForm" action="" method="POST">
                {% csrf_token %}
                <fieldset class="contact-form__block current">
                  <!-- Nombre -->
                  <div class="form-outline mb-3">
                    <label class="form-label" for="registerName">Nombre del restaurante</label>
                    {{form.name}}
                  </div>
                  <!-- Email -->
                  <div class="form-outline mb-3">
                    <label class="form-label" for="registerEmail">Email</label>
                    {{form.email}}
                  </div>
                  <!-- Teléfono -->
                  <div class="form-outline mb-3">
                    <label class="form-label" for="registerPhone">Teléfono</label>
                    {{form.phone}}
                  </div>
                  <!-- Plan -->
                  <div class="form-outline mb-3 position-relative">
                    <label class="form-label" for="registerPlan">Plan</label>
                    {{form.plan}}
                    <div class="d-flex flex-column tootlip-plan d-none">
                      <div class="d-flex column-gap-2 w-100 justify-content-between"><p class="text-start" style="width: 98px;">Plan Básico</p><p class="text-end" style="width: 114px;">2 sucursales</p><p class="text-end" style="width: 30px;">5$</p></div>
                      <div class="d-flex column-gap-2 w-100 justify-content-between"><p class="text-start" style="width: 98px;">Plan Plata</p><p class="text-end" style="width: 114px;">5 sucursales</p><p class="text-end" style="width: 30px;">7$</p></div>
                      <div class="d-flex column-gap-2 w-100 justify-content-between"><p class="text-start" style="width: 98px;">Plan Oro</p><p class="text-end" style="width: 114px;">10 sucursales</p><p class="text-end" style="width: 30px;">13$</p></div>
                      <div class="d-flex column-gap-2 w-100 justify-content-between"><p class="text-start" style="width: 98px;">Plan Platino</p><p class="text-end" style="width: 114px;">+10 sucursales</p><p class="text-end" style="width: 30px;">20$</p></div>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="contact-form__block">
                  <!-- Estado -->
                  <div class="form-outline mb-3">
                    <label class="form-label" for="registerState">Estado</label>
                    {{form.state}}
                  </div>
                  <!-- Ciudad -->
                  <div class="form-outline mb-3">
                    <label class="form-label" for="registerCity">Ciudad</label>
                    {{form.city}}
                  </div>
                  <!-- Parroquia -->
                  <div class="form-outline mb-3">
                    <label class="form-label" for="registerParish">Parroquia</label>
                    {{form.parish}}
                  </div>
                </fieldset>
                <fieldset class="contact-form__block">
                  <!-- Contraseña -->
                  <div class="form-outline mb-3">
                    <label class="form-label" for="registerPassword">Contraseña</label>
                    {{form.password1}}
                  </div>
                  <!-- Confirmar contraseña -->
                  <div class="form-outline mb-3">
                    <label class="form-label" for="registerRepeatPassword">Confirme la contraseña</label>
                    {{form.password2}}
                  </div>
                  <div class="form-outline mb-0">
                    <input type="checkbox" onclick="ShowPass()" name="showPass"><label class="form-label mb-0 mx-2" for="showPass">Mostrar contraseña</label>
                  </div>
                  <!-- Checkbox -->
                  <div class="form-check d-flex justify-content-center align-items-center mb-4 mt-4">
                    <input class="form-check-input me-2" type="checkbox" value="cheched" id="registerCheck" name="checkbox" aria-describedby="registerCheck"/>
                    <label class="form-check-label" for="registerCheck">Acepta nuestros Terminos y condiciones</label>
                  </div>
                </fieldset>
                <div class="w-100" style="overflow:auto;" id="Container-btn">
                  <div class="w-100" style="float:right;">
                    <button type="button" id="prevBtn" class="btn-default" onclick="nextPrev(-1)"><img src="{% static '/img/icon/prev.png' %}" width="40" height="40"></button>
                    <button type="button" id="nextBtn" class="btn-default" onclick="nextPrev(1)"><img src="{% static '/img/icon/next.png' %}" width="40" height="40"></button>
                    <!-- Registarse -->
                    <button type="button" id="submitBtn" class="btn btn-block btn-restaurant-register d-none" onclick="nextPrev(1)">Registrar</button>
                  </div>
                </div>
                {% if "email" in form.errors %}
                  <p class="message-error">Ese email ya existe</p>
                {% endif %}
                {% for message in messages %}
                  <p class="message-{{message.tags}}">{{message}}</p>
                {% endfor %}
              </form>
            </div>
          {% else %}
            <div class="d-flex justify-content-center align-items-center flex-column py-4 row-gap-3">
              <div>
                <div>
                  <a href="{% url 'perfil' %}"><img class="img-home" src="{% static restaurant.profile_img %}" width="200" height="200"></a>
                </div>
              </div>
              <div>
                <a class="title-restaurant" href="{% url 'perfil' %}">{{restaurant.name}}</a>
              </div>
              <div class="menu-profile">
                <ul class="list-unstyled mb-0">
                  <li><a class="" href="{% url 'sucursales' %}">Sucursales</a></li>
                  <li><a class="" href="{% url 'menus' %}">Menús</a></li>
                  <li><a class="" href="{% url 'platillos' %}">Platillos</a></li>
                  <li><a class="" href="{% url 'promociones' %}">Promociones</a></li>
                </ul>
              </div>
            </div>
            {% include 'restaurant/plan.html' with auth=auth only %}
          {% endif %}
        </div>
      </div>
      {% if auth == False %}
        <div class="strike">
          <div class="strike-container">
            <div class="card-title">
              <h2 class="card-title-h2 text-center">Registrate ahora para poder crear</h2>
            </div>
            <div class="card-info card-info-restaurant d-flex justify-content-md-center align-items-md-center">
              <div class="col col-md-4 d-flex justify-content-md-center align-items-center">
                <div class="card-img d-flex justify-content-center align-items-center">
                  <img src="{% static '/img/icon/card.png' %}" width="60">
                </div>
                <div class="card-description">
                  <h3 class="text-md-center">Menús</h3>
                  <p class="text-md-center">Crea tus propios menús.</p>
                </div>
              </div>
              <div class="col col-md-4 d-flex justify-content-md-center align-items-center">
                <div class="card-img d-flex justify-content-center align-items-center">
                  <img src="{% static '/img/icon/restaurant.png' %}" width="64" height="42">
                </div>
                <div class="card-description">
                  <h3 class="text-md-center">Platillos</h3>
                  <p class="text-md-center">Añade nuevos platillos a tus menús.</p>
                </div>
              </div>
              <div class="col col-md-4 d-flex justify-content-md-center align-items-center">
                <div class="card-img d-flex justify-content-center align-items-center">
                  <img src="{% static '/img/icon/sale.png' %}" width="55" style="margin-left: 2px;margin-top: 2px;">
                </div>
                <div class="card-description">
                  <h3 class="text-md-center">Promociones</h3>
                  <p class="text-md-center">Crea promociones a tus platillos</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include 'restaurant/plan.html' %}
      {% endif %}
    </div>
  </div>
</body>
<footer>
  {% include 'footer.html' %}
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
  {% if auth == False %}<script src="{% static '/js/restaurantHome.js' %}"></script>{% endif %}
</footer>
</html>