{% extends "restaurant/dashboard.html" %}
{% load static %}
{% block brand-office %}
<div class="content-tab d-flex align-items-center flex-column w-100">
  <div class="container-brand w-100 h-100 modal-update modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h2 class="modal-title fs-2 text-center " id="EditarSucursalLabel">Editar Sucursal</h2>
      </div>
      <div class="modal-body">
        <form action="" method="POST" class="position-relative">
          {% csrf_token %}
          <div id="Update-brand-form" class="d-flex justify-content-center flex-column">
            <div class="form-outline mb-3 d-flex align-content-center inputs_2">
              <!-- Nombre de la sucursal -->
              <div>
                <label class="form-label" for="saveName">Ingrese el nombre de la sucursal:</label>
                {{form.brand_name}}
              </div>
              <div></div>
            </div>
            <div class="form-outline mb-3 d-flex align-content-center inputs_2">
              <!-- Comienzo del Horario  -->
              <div>
                <label class="form-label" for="saveStart_schedule">Comienzo del Horario:</label>
                {{form.start_schedule}}
              </div>
              <!-- Final del Horario -->
              <div>
                <label class="form-label" for="saveEnd_schedule">Final del Horario:</label>
                {{form.end_schedule}}
              </div>
            </div>
            <div class="form-outline mb-3 d-flex align-content-center">
              <!-- Servicios -->
              <div class="w-100">
                <label class="form-label">Servicios que posee:</label>
                <div class="d-flex align-items-start flex-column">
                  <div class="form-check">
                    {{form.pick_up}}
                    <label class="form-check-label" for="flexCheckPickUp">Pick-up</label>
                  </div>
                  <div class="form-check">
                    {{form.my_delivery}}
                    <label class="form-check-label" for="flexCheckMyDelivery">Delivery propio</label>
                  </div>
                  <div class="form-check">
                    {{form.external_delivery}}
                    <label class="form-check-label" for="flexCheckExternalDelivery">Servicio de delivey externo</label>
                  </div>
                  <div class="form-check">
                    {{form.others_services}}
                    <label class="form-check-label" for="flexCheckOthersServices">Otro tipo de servicio</label>
                  </div>
                </div>
                <div class="{% if show == 'False' %}d-none{% endif %}">
                  <!-- Otros servicios -->
                  {{form.delivery}}
                </div>
              </div>
            </div>
            <div class="form-outline mb-3 d-flex align-content-center inputs_2">
              <!-- Estado -->
              <div>
                <label class="form-label" for="saveState">Estado:</label>
                {{form.state}}
              </div>
              <!-- Ciudad -->
              <div>
                <label class="form-label" for="saveCity">Ciudad:</label>
                {{form.city}}
              </div>
            </div>
            <div class="form-outline mb-3 d-flex align-content-center inputs_2">
              <!-- Parroquia -->
              <div>
                <label class="form-label" for="saveParish">Parroquia:</label>
                {{form.parish}}
              </div>
              <!-- Avenida -->
              <div>
                <label class="form-label" for="saveAvenue">Avenida:</label>
                {{form.avenue}}
              </div>
            </div>
            <div class="form-outline mb-3 d-flex align-content-center inputs_2">
              <!-- Calle -->
              <div>
                <label class="form-label" for="saveStreet">Calle:</label>
                {{form.street}}
              </div>
              <div></div>
            </div>
            <div class="form-outline mb-3 d-flex align-content-center inputs_2">
              <!-- Direccion completa -->
              <div>
                <label class="form-label" for="saveFull_address">Dirección completa:</label>
                {{form.full_address}}
                <input type="text" name="show_address" id="showFull_address" class="form-control input-disabled" placeholder="{% if full != None%}{{full}}{% else %}Dirección completa{% endif %}" maxlength="500" disabled>
              </div>
            </div>
            <div class="form-outline mb-3 d-flex align-content-center">
              <!-- Activo -->
              <div>
                <div class="form-check">
                  {{form.active}}
                  <label class="form-check-label" for="CheckActive">¿Esta operativa la sucursal?</label>
                </div>
              </div>
            </div>
            <div class="form-outline mb-3 d-flex align-content-center">
              <!-- Disparador -->
              <button type="button" class="btn btn-delete-trigger p-0 border-0 d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#DeleteBrand">
                <img src="{% static 'icon/delete.png' %}" width="12" class="img-trash">
                <p class="text-decoration-underline delete-text">Eliminar</p>
              </button>
            </div>
          </div>
          {% for message in messages %}
            <p class="message-{{message.tags}}">{{message}}</p>
          {% endfor %}
          <div class="modal-bttn update-modal-bttn">
            <div class="d-flex justify-content-center align-items-center">
              <a href="{% url 'sucursales' %}" class="btn btn-close-modal">Cancelar</a>
              <input type="submit" class="btn btn-accept" value="Aceptar" name="Update">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Elimiar -->
<div class="modal fade" id="DeleteBrand" tabindex="-1" aria-labelledby="EliminarSucursalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-4 text-center" id="EliminarSucursalLabel">Eliminar</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <h3 class="fs-5 p-3">¿Estás seguro que quiere eliminar la sucursal "{{item}}"?</h3>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <input type="submit" class="btn btn-danger" value="Eliminar" name="Delete">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}