{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" crossorigin="anonymous">
  <link type="application/octet-stream" href="{% static 'bootstrap/css/bootstrap.min.css.map' %}" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static '/css/font.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static '/css/comming_soon.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.png' %}"/>
  <title>La página todavía no esta habilitada</title>
</head>
<body>
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center px-4">
        <h1 class="display-1 fw-bold title mb-4">La página todavía no esta habilitada</h1>
        {% if auth == False %}
          <div class="mb-4">
            <p class="fs-3 mb-2">Si es un <strong>Restaurante</strong>, por favor inicie o registrese en la siguiente página</p>
            <div class="d-flex justify-content-center align-items-center flex-wrap gap-2">
              <button class="btn btn-login"><a href="{% url 'r-inicio-de-sesion' %}" class="">Iniciar sesión</a></button> 
              <button class="btn btn-register"><a href="{% url 'afiliacion' %}" class="">Registrarse</a></button>
            </div>
          </div>  
        {% endif %}
        <button class="btn btn-primary"><a href="{% url 'home' %}" class="">Vaya al inicio</a></button>
    </div>
</div>
</body>
</html>