<div class="container-fluid bg-green" id="Footer">
  <div class="strike-footer">
    <div class="menu-list d-flex">
      <div class="widget-menu">
        <ul class="list-unstyled montserrat menu-list-footer">
          <li><a href="{% url 'proximamente' %}" class="">¿Quienes somos?</a></li>
          <li><a href="{% url 'proximamente' %}" class="">Terminos y Condiciones</a></li>
          <li><a href="{% url 'afiliacion' %}" class="">Afilia tu restaurante</a></li>
          <li><a href="/afiliacion/#Pricing" class="">Planes</a></li>
          <li><a href="{% url 'proximamente' %}" class="">Contactanos</a></li>
        </ul>
      </div>
    </div>
    <div class="bg-black d-flex align-items-center justify-content-center">
      <div class="copyright"><p class="montserrat">© Todos los derechos reservados. <br class="mobile">Contactanos al <a href="tel:+584129393115"> (+58)4129393115</a></p></div>
    </div>
  </div>
</div>