{% load static %}
<nav id="Header-nav" class="navbar navbar-expand-lg sticky-top d-flex" id="Header">
  <a class="navbar-brand desktop" href="{% url 'home' %}"><img src="{% static 'img/Logo.png' %}" id="Logo"></a>
  <a class="navbar-brand mobile" href="{% url 'home' %}"><img src="{% static 'img/favicon.png' %}" id="Logo"></a>
  {% if request.user.is_authenticated %}
  <div class="dropdown-center justify-content-end tablet-show">
    <button class="btn dropdown-toggle header-profile d-flex align-items-center gap-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <p class="header-username desktop">{% if request.user.username != None %}{{request.user.username}}{% elif request.user.restaurant.name != None %}{{request.user.restaurant.name}}{% endif %}</p>
      <img class="header-profile-img" src="{% if tab == 'profile' %}{% static img %}{% else %}{% if request.user.existImg %}{% static request.user.profile_img %}{% else %}{% static '/restaurants/profile-down-hosting.jpg' %}{% endif %}{% endif %}" width="40" height="40">
    </button>
    <ul class="dropdown-menu position-absolute profile-menu">
      {% if request.user.is_superuser != True %}
        <li><a class="dropdown-item {% if tab == 'profile' %}active{% endif %}" href="{% url 'perfil' %}">Perfil</a></li>
        <li><a class="dropdown-item {% if tab == 'brand' %}active{% endif %}" href="{% url 'sucursales' %}">Sucursales</a></li>
        <li><a class="dropdown-item {% if tab == 'menu' %}active{% endif %}" href="{% url 'menus' %}">Menús</a></li>
        <li><a class="dropdown-item {% if tab == 'dish' %}active{% endif %}" href="{% url 'platillos' %}">Platillos</a></li>
        <li><a class="dropdown-item {% if tab == 'promo' %}active{% endif %}" href="{% url 'promociones' %}">Promociones</a></li>
      {% else %}
        <li><a class="dropdown-item" href="/admin">Administrador</a></li>
      {% endif %}
      <li><a class="dropdown-item" href="{% url 'cerrar-sesion' %}">Cerrar sesión</a></li>
    </ul>
  </div>
  <div class="desktop tablet-hidden">
    <ul class="list-unstyled menu-list-header">
      {% if request.user.is_superuser != True %}
        <li><a class="{% if tab == 'profile' %}active{% endif %}" href="{% url 'perfil' %}">Perfil</a></li>
        <li><a class="{% if tab == 'brand' %}active{% endif %}" href="{% url 'sucursales' %}">Sucursales</a></li>
        <li><a class="{% if tab == 'menu' %}active{% endif %}" href="{% url 'menus' %}">Menús</a></li>
        <li><a class="{% if tab == 'dish' %}active{% endif %}" href="{% url 'platillos' %}">Platillos</a></li>
        <li><a class="{% if tab == 'promo' %}active{% endif %}" href="{% url 'promociones' %}">Promociones</a></li>
      {% else %}
        <li><a class="" href="/admin">Administrador</a></li>
      {% endif %}
      <li><a class="" href="{% url 'cerrar-sesion' %}">Cerrar sesión</a></li>
    </ul>
  </div>
  {% else %}
  <div class="container-btn">
    <div class="d-flex desktop">
      {% if home == True %}
        <a href="{% url 'afiliacion' %}" style="width: 146px;margin-right: 20px;" id="addRestaurants">Afilia tu restaurante</a>
      {% endif %}
      <button class="btn btn-login" {% if commensal == True %} hidden {% endif %}><a href="{% if commensal == True %}{% url 'proximamente' %}{% else %}{% url 'r-inicio-de-sesion' %}{% endif %}">Iniciar sesión</a></button>
      <button class="btn btn-register" {% if commensal == True %} hidden {% endif %}><a href="{% if commensal == True %}{% url 'proximamente' %}{% else %}#Register{% endif %}">Registrarse</a></button>
    </div>
    <div class="d-flex mobile">
      {% if home == True %}
        <a href="{% url 'afiliacion' %}" style="width: auto;margin-right: 20px;"><img src="{% static 'img/icon/add-restaurant.png' %}" style="max-width: 70px;"></a>
      {% endif %}
      <button class="btn btn-login" {% if commensal == True %} hidden {% endif %}><a href="{% if commensal == True %}{% url 'proximamente' %}{% else %}{% url 'r-inicio-de-sesion' %}{% endif %}"><img src="{% static 'img/icon/login.png' %}" class="icon"></a></button>
      <button class="btn btn-register" {% if commensal == True %} hidden {% endif %}><a href="{% if commensal == True %}{% url 'proximamente' %}{% else %}#Register{% endif %}"><img src="{% if commensal == True %}{% static 'img/icon/register.png' %}{% else %}{% static 'img/icon/add-restaurant-white.png' %}{% endif %}" class="icon"></a></button>
    </div>
  </div>
  {% endif %}
</nav>