{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" crossorigin="anonymous">
  <link type="application/octet-stream" href="{% static 'bootstrap/css/bootstrap.min.css.map' %}" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static '/css/font.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static '/css/general.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/footer.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/list_restaurants.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.png' %}"/>
  <title>Lista de restaurantes</title>
</head>
<body>
  {% load pagination_extra %}
  <div id="loader">
    <div class="loader-spin"></div>
  </div>
  <div class="page-container {% if restaurant_page_obj|length <= 2 %}less_result{% endif %}">
    {% include 'header.html' %}
    <div class="container-fluid">
      <div id="Hero">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
          <div>
            <h2 class="title-address">Selecciona tu ubicación</h2>
          </div>
          <div class="w-100">
            <form method="GET" class="d-flex form_filter">
              <div id="FiltersInputs" class="d-flex">
                <div class="dropdown-states">
                  <div class="dropdown">
                    <button class="btn btn-address dropdown-toggle select-address" id="BtnState" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <span>Estado</span>
                    </button>
                    <ul class="dropdown-menu" id="ListState">
                      {% for state in alphabet %}
                        {% if state|length <= 1 %}
                          <li><span class="dropdown-item-text">{{state}}</span></li>
                        {% else %}
                          <li><a class="dropdown-item" onclick="javascript:SelectAddress(event)">{{state}}</a></li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                  {{filters.form.state_select}}
                </div>
                <div class="dropdown-zone">
                  {{filters.form.full_address}}
                </div>
              </div>
              <input type="submit" name="Filter" class="btn btn-filter" value="Buscar">
            </form>
          </div>
        </div>
      </div>
      <div class="strike">
        <div class="strike-container">
          <div class="list-group list-restaurants">
            {% if restaurant_page_obj|length > 0 %}
              {% for restaurant in restaurant_page_obj %}
                <a href="{% if restaurant.is_restaurant == True %}{% url 'sede-principal' restaurant.restaurant %}{% else %}{% url 'sucursal' restaurant.restaurant restaurant.id %}{% endif %}" class="list-group-item list-group-item-action">
                  <div class="logo-restaurant d-flex justify-content-center align-items-center"><img src="{% static restaurant.brand_img %}"></div>
                  <div class="info-restaurant d-flex w-100 justify-content-between">
                    <h5 class="title-restaurant mb-1">{{restaurant.restaurant}}</h5>
                    <div class="address-restaurant">
                      <img src="{% static '/img/icon/map.png' %}">
                      <p>{{restaurant.state}}, {{restaurant.city}}</p>
                    </div>
                    <div class="schedule-restaurant"><p>Horario: {{restaurant.start_schedule}} - {{restaurant.end_schedule}}</p></div>
                    <div class="tags-restaurant">
                      <p>
                        {% if restaurant.pick_up != None %}Pick-up{% endif %}{% if restaurant.my_delivery != None and restaurant.pick_up != None %}, Delivery propio{% endif %}{% if restaurant.my_delivery != None and restaurant.pick_up == None %}Delivery propio{% endif %}{% if restaurant.external_delivery != None or restaurant.others_services != None %}{% if restaurant.my_delivery != None or restaurant.pick_up != None %}, {{restaurant.delivery}}{% else %}{{restaurant.delivery}}{% endif %}{% endif %}
                      </p>
                    </div>
                  </div>
                </a>
              {% endfor %}
            {% else %}
              <p class="fs-3">No se ha encontrado ningun restaurante por esta zona</p>
            {% endif %}
            <nav aria-label="Page-navigation" class="pagination-restaurants">
              <ul class="pagination justify-content-center">
                {% if restaurant_page_obj.has_previous %}
                  <li class="page-item arrow_page">
                    <a class="page-link" href="{% pagination_url restaurant_page_obj.previous_page_number 'page' request.GET.urlencode %}" tabindex="-1" aria-disabled="true"><img src="{% static '/img/icon/arrow-left.png' %}" height="20"></a>
                  </li>
                {% endif %}
                  {% for page_index in pagination %}
                    <li class="page-item {% if restaurant_page_obj.number == page_index %}active{% endif %}"><a class="page-link fw-bold" href="{% pagination_url page_index 'page' request.GET.urlencode %}">{{page_index}}</a></li>
                  {% endfor %}
                {% if restaurant_page_obj.has_next %}
                  <li class="page-item arrow_page">
                    <a class="page-link" href="{% pagination_url restaurant_page_obj.next_page_number 'page' request.GET.urlencode %}"><img src="{% static '/img/icon/arrow-right.png' %}" height="20"></a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          </div>
          <div class="widget-orderns sticky-top desktop">
            <div class="title-orders">
              <h3>Pedidos</h3>
              <img src="{% static '/img/icon/waiter.png' %}">
            </div>
            <div class="list-group list-orders">
              <div class="restaurant-orders">
                <h4 class="restaurant-name">McDonald’s</h4>
                <ul class="list-group list-unstyled">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Cras justo odio
                    <span class="price">6</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Dapibus ac facilisis in
                    <span class="price">2</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Morbi leo risus
                    <span class="price">1</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="total-price">
              <h3>Total</h3>
              <h3 class="price">9.00<span>$</span></h3>
            </div>
            <div class="checkout">
              <a href="{% url 'pagando' %}">Pagar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order-checkout mobile">
    <div class="order-bg">
      <a href="{% url 'pagando' %}" class="link-checkout"><img src="{% static '/img/icon/waiter.png' %}" width="25px"></a>
    </div>
  </div>
</body>
<footer>
  {% include 'footer.html' %}
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
  <script src="{% static '/js/loader.js' %}"></script>
  <script src="{% static '/js/list_restaurants.js' %}"></script>
</footer>
</html>