{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" crossorigin="anonymous">
  <link type="application/octet-stream" href="{% static 'bootstrap/css/bootstrap.min.css.map' %}" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static '/css/font.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static '/css/maintenance.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.png' %}"/>
  <title>Página en mantenimiento</title>
</head>
<body>
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center px-4">
        <h1 class="display-1 fw-bold title mb-4">Pagina en mantenimiento</h1>
        <p class="lead mb-2 fs-2">Nos disculpamos, pero esta página, actualmente, no se encuentra disponible</p>
        <div class="mb-4">
          <p class="fs-4 mb-2">Si es un Restaurante, por favor inicie o registrese en la siguiente página</p>
          <div class="d-flex justify-content-center align-items-center flex-warp gap-2">
            <a href="{% url 'r-inicio-de-sesion' %}" class="btn btn-login">Iniciar sesión</a>
            <a href="{% url 'afiliacion' %}" class="btn btn-register">Registrese</a>
          </div>
        </div>
        <a href="{% url 'home' %}" class="btn btn-primary">Vaya al inicio</a>
    </div>
</div>
</body>
</html>