{% load static %}
<!DOCTYPE html>
<html> 
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" crossorigin="anonymous">
  <link type="application/octet-stream" href="{% static 'bootstrap/css/bootstrap.min.css.map' %}" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static '/css/font.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static '/css/general.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/reset.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.png' %}"/>
  <title>Reinicio de contraseña</title>
</head>
<body>
	<div class="bg-img">
    <div class="container-form">
      <div class="logo">
        <a href="{% url 'afiliacion' %}"><img src="{% static '/img/Logo.png' %}"></a>
      </div>
      <div class="form">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Reinicio de contraseña completado</h3>
				</div>
        <div class="d-flex mt-3">
          <p>Su contraseña ha sido establecida. Puede continuar e iniciar sesión ahora.</p>
        </div>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
            <a href="{% url 'r-inicio-de-sesion' %}" class="ml-2 btn-login">Iniciar sesión</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>