{% load static %}
<!DOCTYPE html>
<html lang="es"> 
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" crossorigin="anonymous">
  <link type="application/octet-stream" href="{% static 'bootstrap/css/bootstrap.min.css.map' %}" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static '/css/font.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static '/css/general.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/reset.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.png' %}"/>
  <title>Cambio de contraseña</title>
</head>
<body>
	<div class="bg-img">
    <div class="container-form">
      <div class="logo">
        <a href="{% url 'afiliacion' %}"><img src="{% static '/img/Logo.png' %}"></a>
      </div>
      <div class="form">
        <div class="d-flex flex-column justify-content-center align-items-center gap-2 mb-4">
          <h3>Restablecer contraseña</h3> 
        </div>
				<form method="POST" action="">
					{% csrf_token %}
					<div class="change-pass input-group mb-3 align-items-center justify-content-center gap-1">
            {{form}}
					</div>
          {% if "new_password2" in form.errors %}
            {% if "es muy parecida" in form.errors.new_password2.0 %}
              <p class="message-error mt-3">La contraseña es muy parecida al nombre de ususario o al correo.</p>
            {% else %}
              <p class="message-error mt-3">Los campos de contraseña no coinciden.</p>
            {% endif %}
          {% endif %}
					<div class="d-flex justify-content-center align-items-center column-gap-4 mt-4">
						<a href="{% url 'perfil' %}" class="btn btn-secondary btn-cancel">Cancelar</a>
						<input class="btn btn-submit" type="submit" name="Enviar">
					</div>
				</form>
        {% for message in messages %}
          <p id="message-{{message.tags}}">{{message}}</p>
        {% endfor %}
			</div>
		</div>
	</div>
</body>

</html>