{% load static %}
<!DOCTYPE html>
<html> 
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" crossorigin="anonymous">
  <link type="application/octet-stream" href="{% static 'bootstrap/css/bootstrap.min.css.map' %}" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static '/css/font.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static '/css/general.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/reset.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.png' %}"/>
  <title>Reinicio de contraseña</title>
</head>
<body>
	<div class="bg-img">
    <div class="container-form">
      <div class="logo">
        <a href="{% url 'afiliacion' %}"><img src="{% static '/img/Logo.png' %}"></a>
      </div>
      <div class="form">
        <div class="d-flex flex-column justify-content-center align-items-center gap-2 mb-4">
          <h3 id="form-title">Ingresa tu nueva contraseña</h3>
          <p>¡Ingrese su nueva contraseña dos veces para que podamos verificar que la escribió correctamente!</p>
        </div>
        <form action="" method="POST">
          {% csrf_token %}
          {{form}}
          {% if "new_password2" in form.errors %}
            {% if "es muy parecida" in form.errors.new_password2.0 %}
              <p class="message-error mt-3">La contraseña es muy parecida al nombre de ususario o al correo.</p>
            {% else %}
              <p class="message-error mt-3">Los campos de contraseña no coinciden.</p>
            {% endif %}
          {% endif %}
          <div class="d-flex justify-content-center align-items-center column-gap-4 mt-4">
            <input type="submit" class="btn btn-submit" name="Update Password">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>