{% load static %}
<!DOCTYPE html>
<html>
    
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" crossorigin="anonymous">
  <link type="application/octet-stream" href="{% static 'bootstrap/css/bootstrap.min.css.map' %}" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static '/css/font.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static '/css/general.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/reset.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.png' %}"/>
  <title>Reinicio de contraseña</title>
</head>
<body>
	<div class="bg-img">
    <div class="container-form">
      <div class="logo">
        <a href="{% url 'afiliacion' %}"><img src="{% static '/img/Logo.png' %}"></a>
      </div>
      <div class="form">
				<div class="d-flex flex-column justify-content-center align-items-center gap-2 mb-4">
          <h3 id="form-title">Restablecimiento de contraseña enviado</h3> 
        </div>
        <div class="d-flex">
          <p>Le hemos enviado instrucciones por correo electrónico para establecer su contraseña, si existe una cuenta con el correo electrónico que ingresó. Deberías recibirlos en breve.</p>
        </div>
        <div class="d-flex mt-2">
          <p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique la carpeta de correo no deseado.</p>
				</div>
				<div class="mt-4">
					<div class="d-flex justify-content-center">
						¿No tienes una cuenta? <a href="{% url 'afiliacion' %}" class="ms-1">Crea una cuenta</a>
					</div>
			</div>
		</div>
	</div>
</body>
</html>